.node {
  position: absolute;
  .node-item {
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    transition: background 0.5s;
    p {
      color: black;
    }
  }
}